@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: black;
}
#navbar{
    display: flex;
    align-items: center;
    height: 10vh;
    background-color: gray;
    opacity: 0.6;
    color: white;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-size: 2vh;
}
#navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar ul li{
    list-style: none;
    padding: 10px;
    transform: translateX(54vw);
}
#navbar ul li:hover{
    cursor: pointer;
    color: black;
    border-radius: 10%;
    font-size: 3vw;
}
#follower{
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.7);
    background-color: rgba(1, 1, 1, 0);
    height: 2vh;
    width: 2vh;
    z-index: 1000;
    position: fixed;
}
#cards{
    width: fit-content;
    margin: 5vh auto;
    border: 1px solid white;
    border-radius: 3px;
}
.cards{
    width: 25vw;
    height: 40vw;
    margin: 2vh;
    border: 1px solid white;
    border-radius: 3px;
}
#row1, #row2, #row3, #row4{
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    width: 20vw;
    margin: 1vw 2.5vw;
    height: 15vw;
}
.desc{
    color: white;
    margin: 1vw 5vw;
    font-size: 3vw;
}
.datacont{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25vw;
}
.datacont p{
    color: white;
}
.datacont button{
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.4);
    width: 10vw;
    height: 5vw;
    color: white;
    border-radius: 5%;
    cursor: pointer;
}
.datacont button:hover{
    font-size: 3vw;
}
.datacont .add{
    transform: translateX(-1.6vw);
}
.datacont .sub{
    transform: translateX(1.6vw);
}
::selection{
    background-color: rgba(255, 0, 140, 0.5);
}
#add{
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.4);
    width: 25vw;
    height: 8vw;
    border-radius: 5%;
    transform: translateX(125%);
    margin-bottom: 10px;
}
#add:hover{
    font-size: 3vw;
    cursor: pointer;
}